.App {
  text-align: center;
}

.App-logo {
  position: absolute;
  animation: App-logo-spin infinite 20s linear;
  height: 20vmin;
  top: 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#main-content {
  width: calc(100% - 260px);
  margin-left: 0;
}

#sidebar{
  height: 99.9%;
  /*border: 1px solid white;*/
  position: absolute;
  right: 0;
  top: 0;
  width: 260px;
  background: darkslategray;
}

#heading1{
  position: absolute;
  left: 0;
  top: 0;
}

#datalist{
  padding-top: 180px;
}